<h1>Introdução a Python</h1>

Nesse kernel são apresentados os tipos básicos de elementos da linguagem Python.

<h3>Sumário</h3>
<ol>
    <li><a href='#cap1'>Variáveis e atribuição de valores</a></li>
    <li><a href='#cap2'>Tipos de variáveis</a></li>
    <li><a href='#cap3'>Inteiros</a></li>
    <li><a href='#cap4'>Números flutuantes</a></li>
    <li><a href='#cap5'>Booleanos</a></li>
    <li><a href='#cap6'>Strings</a></li>
    <li><a href='#cap7'>listas</a></li>
    <li><a href='#cap8'>Tuplas</a></li>
    <li><a href='#cap9'>Dicionários</a></li>
    <li><a href='#cap10'>Conjuntos</a></li>
    <li><a href='#cap11'>Mudando o tipo das variáveis</a></li>
    <li><a href='#cap12'>Built-in functions</a></li>
</ol>

<h2 id='cap1'>1 - Variáveis e atribuição de valores</h2>

Variáveis são espaços na memória do seu computador. Para atribuir algum valor a uma variável usa-se a seguinte sintaxe:

$$\begin{array}{ccc}\text{my_float} & = & 3.0\\ \text{(variável)} & \text{(sinal de atribuição)} & \text{(valor)}\end{array}$$

Assim, para atribuírmos o valor 3.0 a variável my_float basta executar a linha de comando abaixo:

In [1]:
my_float = 3.0

A variável acima é identificada por my_float. Para identificar uma variável você deve usar apenas letras maiúsculas ou minúsculas, dígitos de 0 a 8 e underline. O nome de uma variável não pode conter caracteres especiais, não podem começar com dígitos e não pode ser separado por espaço. O nome de uma variável pode ser de qualquer tamanho. O nome de uma variável não pode ser uma palavraa reservada (Python keywords):
<table>
    <tr><td>and</td> <td>del</td> <td>from</td> <td>not</td> <td>while</td><tr>    
    <tr><td>as</td> <td>elif</td> <td>global</td> <td>or</td> <td>with</td></tr>     
    <tr><td>assert</td>   <td>else</td> <td>if</td> <td>pass</td> <td>yield</td></tr>    
    <tr><td>break</td> <td>except</td> <td>import</td> <td>print</td></tr>
    <tr><td>class</td> <td>exec</td> <td>in</td> <td>raise</td></tr>
    <tr><td>continue</td> <td>finally</td> <td>is</td> <td>return</td></tr>
    <tr><td>def</td> <td>for</td> <td>lambda</td> <td>try</td></tr> 
</table>

Exemplo de sintaxes corretas para identificar uma variável são:

In [2]:
my_number = 3.0

In [3]:
x = 3.0

In [4]:
y = 3.0

In [5]:
x_3 = 3.0

In [6]:
number_1 = 3.0

In [7]:
myNumber = 3.0

<h2 id="cap2">2 - Tipos de variáveis</h2>

Para saber o tipo de uma variável em Python, usa-se a <b><i>Built-in function</i></b> type.

In [8]:
x = 3.0
type(x)

float

A linha acima retorna a palavra <b><i>float</i></b>. Isso quer dizer que a variável $x$ é do tipo float. Abaixo são apresentados outros tipos de variáveis:

In [9]:
x = 3
type(x)

int

In [10]:
x = 'três'
type(x)

str

In [11]:
x = True
type(x)

bool

In [12]:
x = False
type(x)

bool

In [13]:
x = [1,2,3]
type(x)

list

In [14]:
x = (1,2,3)
type(x)

tuple

In [15]:
x = {1:'um',2:'dois',3:'tres'}
type(x)

dict

Neste notebook cada tipo acima será trabalhando detalhadamente, apresentando os tipos de operações, alguns métodos e slicing (no caso de strings, listas, tuplas e dicionários).

<h2 id='cap3'>3 - Inteiros</h2>

Os números inteiros, em python, são representados por variáveis do tipo <b><i>int</i></b>.

<h3>3.1 - Operações aritméticas com inteiros</h3>

In [16]:
# soma
x = 3
y = 5
x + y

8

In [17]:
#subtração
x - y

-2

In [18]:
# multiplicação
x * y

15

In [19]:
# exponenciação
x ** y

243

In [20]:
# resto da divisão
y % x

2

In [21]:
# divisão
x / y

0.6

In [22]:
# observe que a divisão retorna um valor do tipo float
type(x/y)

float

In [23]:
# divisão inteira
y // x

1

<h3>3.2 - Operações lógicas com inteiros</h3>

In [24]:
# relação de ordem
x > y

False

In [25]:
# relação de ordem
y < x

False

In [26]:
# relação de ordem
x >= y

False

In [27]:
# relação de ordem
x <= y - 2

True

In [28]:
# relação de igualdade
x == y

False

In [29]:
# relação de desigualdade
x != y

True

In [30]:
# observe que todas as operações lógicas retornam valores do tipo bool
type(x <= y-1)

bool

<h2 id='cap4'>4 - Números flutuantes</h2>

Números flutuantes são números racionais que possuem pelo menos uma casa decimal depois da vírgula e no máximo um número finito de casas decimais após a vírgula. As operações com variáveis do tipo float são análogas às operações com variáveis do tipo int com exceção da operação que calcula o resto da divisão, esta não existe para números flutuantes.

In [31]:
x = 5.1
y = 2.0
x / y

2.55

In [32]:
(x + y) / 2.5

2.84

In [33]:
x + y < x - y

False

<h2 id='cap5'>5 - Booleanos</h2>

Variáveis do tipo booleana assumem os valores lógicos verdadeiro e falso. Para atribuir um valor verdadeiro a uma variável x usa-se:

In [34]:
x = True

Para atribuir um valor falso a uma variável y usa-se:

In [35]:
y = False

<h3>5.1 - Operações lógicas com variáveis booleanas</h3>

In [36]:
# valor da sentença x e y
x and y

False

In [37]:
# valor da sentença x ou y
x or y

True

In [38]:
# negativa de x
not x

False

In [39]:
# igualdade de variáveis booleanas
x == y

False

In [40]:
# desigualdade de variáveis booleanas
x != y

True

<h3>5.2 Aplicação (checando a validade das leis de De Morgan)</h3>

Sejam x e y variáveis booleanas quaisquer. Uma das leis de De Morgan diz que sempre é válida a seguinte relação:

$$not\ (x\ and\ y) == (not\ x\ or\ not\ y)\ \ \ \ \ \ \ (1)$$

Para checar essa relação basta considerar os 4 casos possíveis:

In [41]:
# 1º caso
x = True
y = True
not (x and y ) == (not x or not y)

True

In [42]:
# 2º caso
x = True
y = False
not (x and y ) == (not x or not y)

True

In [43]:
# 3º caso
x = False
y = True
not (x and y ) == (not x or not y)

True

In [44]:
# 4º caso
x = False
y = False
not (x and y ) == (not x or not y)

True

A prova está completa uma vez que em todos os casos possíveis a expressão (1) retorna verdadeiro.

<h2 id='cap6'>6 - Strings</h2>

Strings são cadeias de caracteres. Você pode pensar em strings como palavras que podem ter significado ou não. Para atribuir a uma variável o valor de uma string, você deve colocar os caracteres entre aspas simples ou duplas como nos exemplos:

In [45]:
my_name = "Luke Skywalker"

In [46]:
my_side = "Dark side"

In [47]:
# string sem caracteres
empty_string = ''

<h3>6.1 - Operações com string</h3>

In [48]:
# concatenação
first_name = "Luke"
second_name = "Skywalker"
first_name + second_name

'LukeSkywalker'

In [49]:
# espaço também pode ser construido como uma string
space = " "
first_name + space + second_name

'Luke Skywalker'

In [50]:
# concatenando a mesma palavra
5 * first_name

'LukeLukeLukeLukeLuke'

<h3>6.2 - Métodos relacionados com strings</h3>

Um método é uma função que tem como entrada um objeto e como saída um outro objetos. Estes objetos podem não serem do mesmo tipo. A sintaxe de um metodo é a seguinte:

$$\text{objeto}.\text{metodo}(\ \small{\text{parametro_1 = valor_1, ... , parametro_n = valor_n}}\ )$$

Para ver os parâmetros de um método e informações adicionais, tais como sintaxe, entradas e saídas, você pode usar a função help. No exemplo a seguir utilizaremos a função help para ver os parâmetros do método replace:

In [51]:
help(str.replace)

Help on method_descriptor:

replace(...)
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

Observe que as informações obtidas com a <b>built-in function</b> help aplicada ao método replace revelam que old e new são os parâmetros do método. Vejamos um exemplo:

In [52]:
S = "The dark side of the force is stronger!"
old = "dark"
new = "light"
S.replace(old, new)

'The light side of the force is stronger!'

Métodos sobre objetos serão estudados com mais detalhes futuramente. No momento apresentaremos alguns métodos com a intenção de já ir se acostumando com a sintaxe e também já ter ferramentas para trabalhar problemas rotineiros. Vejamos outros métodos, estes agora sem parâmetros:

In [53]:
S.lower()

'the dark side of the force is stronger!'

In [54]:
S.upper()

'THE DARK SIDE OF THE FORCE IS STRONGER!'

Strings são imutáveis, isto é, os métodos aplicados a uma determinada string não alteram seu valor.

In [55]:
S

'The dark side of the force is stronger!'

Exemplo de método que retornam outro tipo de objeto:

In [56]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

O help descreve que o método count tem como parâmetro sub e retorna um objeto do tipo int. Vejamos sua aplicação:

In [57]:
S = "Fear is the path to the dark side. Fear leads to anger; anger leads to hate; hate leads to suffering."
sub = "Fear"
S.count(sub)

2

In [58]:
sub = "suffering"
S.count(sub)

1

O método count retorna a frequência da string sub em relação a string S.

Você pode saber mais sobre métodos para strings no site: <a href="https://www.programiz.com/python-programming/strings-method">https://www.programiz.com/python-programming/strings-method</a>

<h3>6.3 - Slicing strings</h3>

Slicing em inglês significa fatiar. Nessa seção apresentaremos como selecionar partes de uma string. Vejamos exemplos:

In [59]:
name = "Skywalker"

In [60]:
# a primeira letra
name[0]

'S'

In [61]:
# a segunda letra
name[1]

'k'

In [62]:
# a última letra
name[-1]

'r'

In [63]:
# a penúltima letra
name[-2]

'e'

In [64]:
# do começo até a terceira
name[:3]

'Sky'

In [65]:
# do começo até a penúltima
name[:-2]

'Skywalk'

In [66]:
# da quarta até a última
name[3:]

'walker'

In [67]:
# da quarta até a ante-penúltima
name[3:-2]

'walk'

In [68]:
# da segunda até a penúltima de 2 em 2
name[1:-1:2]

'kwle'

In [69]:
# da penúltima até a segunda de 2 em 2
name[-2:0:-2]

'elwk'

In [70]:
# do começo até a penúltima de 2 em 2
name[:-1:2]

'Syak'

In [71]:
# do começo até a última de 3 em 3
name[::3]

'Swk'

In [72]:
# da úlima até a primeira de um em 1
name[::-1]

'reklawykS'

Para saber o tamanho de uma string você pode usar a <b>built-in function</b> len.

In [73]:
len(name)

9

Assim, em todas os slicings feitos anteriormente, você pode trocar -1 por 8.

In [74]:
# da segunda até a penúltima de 2 em 2
name[1:8:2]

'kwle'

Tenha em mente a posição dos índices em relação a cada caractere da string:

$$
\begin{array}{ccccccccc}
    0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 \\
    S & k & y & w & a & l & k & e & r \\
    -9 & -8 & -7 & -6 & -5 & -4 & -3 & -2 & -1
\end{array}
$$

In [75]:
# do primeiro k (inclusive) até o segundo k (exceto)
name[-8:-3]

'kywal'

<h2 id='cap7'>7 - Listas</h2>

Com o próprio nome diz, listas são listas de objetos. Estes objetos podem ser inteiros, números flutuantes, booleanos ou strings ou, até menos, outras listas. Vejamos a sintaxe do objeto lista:

In [76]:
# lista de inteiros
list_inteiros = [1,7,9,15,123,14]

In [77]:
type(list_inteiros)

list

In [78]:
# lista de strings
list_strings = ['Chewbacca','Luke','Han','Leia']

In [79]:
# lista com strings, inteiros e floats
list_mix = [3, 3.0, 'tres']

In [80]:
# lista sem elementos
empty_list = []

<h3>7.1 - Operações</h3>

Muito parecido com strings:

In [81]:
# concatenação
ligth = ['Luke','Yoda']
dark = ['Anakin','Sidious']
dark + ligth

['Anakin', 'Sidious', 'Luke', 'Yoda']

In [82]:
# concatenação com a mesma lista
3 * ligth

['Luke', 'Yoda', 'Luke', 'Yoda', 'Luke', 'Yoda']

<h3>7.2 - Métodos</h3>

Você pode encontrar os métodos de listas no site: <a href='https://www.programiz.com/python-programming/methods/list'>https://www.programiz.com/python-programming/methods/list<a>

Vejamos alguns destes:

In [83]:
# ordenando uma string em ordem alfabética
list_strings.sort()

Observe que nada foi retornado aqui. Isso porque, diferentemente de strings, listas não são imutáveis. Ao aplicar o método sort, alteramos a lista original.

In [84]:
list_strings

['Chewbacca', 'Han', 'Leia', 'Luke']

In [85]:
# concatenando com o método append
dark.extend(ligth)

Novamente nada foi retornado. Vejamos como está a lista dark:

In [86]:
dark

['Anakin', 'Sidious', 'Luke', 'Yoda']

In [87]:
# adicionando um elemnto ao final da lista
list_strings.append('Yoda')

In [88]:
list_strings

['Chewbacca', 'Han', 'Leia', 'Luke', 'Yoda']

In [89]:
# removendo um elemento da lista
dark.remove('Luke')
dark

['Anakin', 'Sidious', 'Yoda']

In [90]:
dark.remove('Yoda')
dark

['Anakin', 'Sidious']

<h3>7.3 - Slicing em Listas </h3>

Slicing em listas funcionam como slicing em strings. Portanto vamos dar apenas alguns exemplos, mas como exercício você pode testar todos os slicings feitos na Seção 6.3.

In [91]:
# lista com nomes de letras gregas
greek_letters = ['Eta','Mu','Psi','Tau','Phi','Chi','Pi','Rho','Beta']

In [92]:
greek_letters[0]

'Eta'

In [93]:
greek_letters[3]

'Tau'

In [94]:
greek_letters[-1]

'Beta'

In [95]:
greek_letters[2:6]

['Psi', 'Tau', 'Phi', 'Chi']

Observe que em listas, os índices correspondem aos elementos e não aos caracteres. Portando devemos ter em mente o seguinte esquema:<br/>

$$
\begin{array}{ccccccccc}
    0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 \\
    'Eta' & 'Mu' & 'Psi' & 'Tau' & 'Phi' & 'Chi' & 'Pi' & 'Rho' & 'Beta' \\
    -9 & -8 & -7 & -6 & -5 & -4 & -3 & -2 & -1
\end{array}
$$

<h3 id='cap8'>8 - Tuplas</h3>

Tuplas são como listas, porém são imutáveis. Vejamos a sintaxe:

In [96]:
# tupla de inteiros
tuple_int = (1,-2,15,4,562,-12)

In [97]:
type(tuple_int)

tuple

In [98]:
# tupla de strings
tuple_str = ('Chewbacca','Luke','Han','Leia')

In [99]:
# tupla com strings, floats, booleans, inteiros, listas e  tuplas
tuple_mix = (4, 4.0, 'quatro', True, [4,'quatro'], (4,'quatro'))

In [100]:
# tupla sem elementos
empty_tuple = ( )

<h3>8.1 - Operações com tuplas</h3>

In [101]:
# concatenação
tuple_1 = (1,2)
tuple_2 = (2,3)
tuple_1 + tuple_2

(1, 2, 2, 3)

In [102]:
# concatenação da mesma tupla
3 * tuple_1

(1, 2, 1, 2, 1, 2)

<h3>8.2 - Métodos sobre tuplas</h3>

Só existem dois métodos que utilizam tuplas como "objetos chamáveis" (Callable Objects).

In [103]:
# determinar a frequência de determinado elemento numa tupla
nums = (1,2,2,5,6,7,1,1,2,5,6,8,7,7,1,7,7)
nums.count(2)

3

In [104]:
# determinar o indice de determinado elemento numa tupla
nums.index(8)

11

In [105]:
# acessando o elemento pelo seu índice
nums[11]

8

<h3>8.3 - Slicing em Tuplas</h3>

Novamente, o slicing funciona de maneira análoga a slicing de strings e listas. Vejamos apenas alguns exemplos:

In [106]:
# lista com nomes de letras gregas
greek_letters = ('Eta','Mu','Psi','Tau','Phi','Chi','Pi','Rho','Beta')

In [107]:
greek_letters[0]

'Eta'

In [108]:
greek_letters[3]

'Tau'

In [109]:
greek_letters[-1]

'Beta'

In [110]:
greek_letters[2:6]

('Psi', 'Tau', 'Phi', 'Chi')

<h2 id='cap9'>9 - Dicionários</h2>

Você pode pensar em dicionários como listas nas quais o índice é personalizado. Vejamos exemplos de dicionários:

In [111]:
numbers = { 
    1:  'um',
    5:  'cinco',
    18: 'dezoito',
    20: 'vinte'
}

No exemplo acima, 1, 5, 18 e 20 são chamados de chaves (keys). Para saber as chaves de um dicionário, basta usar o método:

In [112]:
numbers.keys()

dict_keys([1, 5, 18, 20])

Ainda, considerando o mesmo exmplo numbers, 'um', 'cinco', 'dezoito' e 'vinte' são chamdos de valores do dicionário number. Para ver os valores de um dicionário, use o método a seguir:

In [113]:
numbers.values()

dict_values(['um', 'cinco', 'dezoito', 'vinte'])

Vejamos outro exemplo de dicionário:

In [114]:
jedi = {
    'Anakin' : 'dark',
    'Obi-Wan' : 'light',
    'Yoda' : 'light',
    'Sidius' : 'dark'
}

In [115]:
jedi.keys()

dict_keys(['Anakin', 'Obi-Wan', 'Yoda', 'Sidius'])

In [116]:
jedi.values()

dict_values(['dark', 'light', 'light', 'dark'])

Chaves e valores de um dicionário podem ser de qualquer tipo, inclusive outros dicionários:

In [117]:
star_wars = {
    'movie_name' : {
        'A New Hope' : {
            'year': 1977,
            'director': 'George Lucas',
            'duration_minutes': 121
        },
        'Return of the Jedi': {
            'year': 1983,
            'director' : 'Richard Marquand',
            'duration_minutes' : 131
        }
    },
    'general_description': 'Adventures through the galaxy.'
}

In [118]:
star_wars.keys()

dict_keys(['movie_name', 'general_description'])

In [119]:
star_wars.values()

dict_values([{'A New Hope': {'year': 1977, 'director': 'George Lucas', 'duration_minutes': 121}, 'Return of the Jedi': {'year': 1983, 'director': 'Richard Marquand', 'duration_minutes': 131}}, 'Adventures through the galaxy.'])

<h3>9.1 - Acessando valores de um dicionários</h3>

Acessar valores de um dicionário é como acessar valores de uma lista, no entanto, usa-se a chave daquele valor e não índices como usava-se em listas.

In [120]:
numbers[5]

'cinco'

In [121]:
numbers[18]

'dezoito'

In [122]:
jedi['Anakin']

'dark'

In [123]:
jedi['Obi-Wan']

'light'

In [124]:
star_wars['general_description']

'Adventures through the galaxy.'

In [125]:
star_wars['movie_name']['A New Hope']['year']

1977

No exemplo acima, acessamos um valor que estava dentro de um dicionário, este dentro de outro, este outro dentro de um outro ainda. Confuso não? Talvez dando nomes a estes dicionários fique mais claro:

In [126]:
movie_name = star_wars['movie_name']

In [127]:
new_hope = movie_name['A New Hope']

In [128]:
new_hope.keys()

dict_keys(['year', 'director', 'duration_minutes'])

In [129]:
new_hope['year']

1977

Este processo de acessar dicionários dentro de outros dicionários é muito utilizado em problemas reais.

In [130]:
# acrescentando itens a um dicionário
numbers[100] = 'sem'
numbers

{1: 'um', 5: 'cinco', 18: 'dezoito', 20: 'vinte', 100: 'sem'}

In [131]:
# deletando itens de um dicionário
del numbers[5]
numbers

{1: 'um', 18: 'dezoito', 20: 'vinte', 100: 'sem'}

In [132]:
# mudando valores em um dicionário
numbers[100] = 'cem'
numbers

{1: 'um', 18: 'dezoito', 20: 'vinte', 100: 'cem'}

<h3>9.2 - Métodos em dicionários</h3>

Você pode consultar todos os métodos no site: <a href='https://www.programiz.com/python-programming/methods/dictionary'>https://www.programiz.com/python-programming/methods/dictionary</a>

Na seção interior já vimos dois métodos, a saber, keys e values. Vejamos um outro exemplo:

In [133]:
# removendo o item de chave 18 do dicionário e mostrando seu valor
numbers.pop(18)

'dezoito'

In [134]:
# vendo como ficou o dicionário numbers
numbers

{1: 'um', 20: 'vinte', 100: 'cem'}

<h2 id='cap10'>10 - Conjuntos</h2>

Um conjunto é como uma lista com a diferença de que os objetos que compõem o conjunto não se repetem e não são ordenados.

In [9]:
# atribuindo um objeto do tipo set a variável my_set
my_set = { 2, 3, 4, 4, 2, 1}

In [10]:
# checando o tipo da variável my_set
type(my_set)

set

In [11]:
# visualizando o valor atribuido a variável my_set
my_set

{1, 2, 3, 4}

<h3>10.1 - Métodos em conjuntos</h3>

In [12]:
# adicionando um elemento a um conjunto
my_set.add('oi')
my_set

{1, 2, 3, 4, 'oi'}

In [13]:
# removendo um elemento de um conjunto
my_set.remove(2)
my_set

{1, 3, 4, 'oi'}

In [14]:
# intersecção com outro conjunto
other_set = {2,4,'oi',5}
my_set.intersection_update(other_set)
my_set

{'oi', 4}

In [15]:
# união com outro conjunto
my_set.union(other_set)

{2, 'oi', 4, 5}

In [17]:
# removendo todos os elementos de um conjunto
my_set.clear()
my_set

set()

<h2 id='cap11'>11 - Mudando o tipo das variáveis</h2>

In [18]:
# string '3' para int 3
int('3')

3

In [19]:
# int 5 para string '5'
str(5)

'5'

In [20]:
# float 5.0 para int 5
int(5.0)

5

In [21]:
# use int para truncar float
int(5.2)

5

In [27]:
# int 4 para float 4.0
float(4)

4.0

In [31]:
# int 1 para o bool True
bool(1)

True

In [32]:
# int 0 para bool False
bool(0)

False

In [22]:
# list ['a', 2, True] para string "['a',2,True]"
str(['a', 2, True])

"['a', 2, True]"

Como conjuntos possuem objetos únicos, converter lista para conjunto faz com que você remova todos os objetos repetidos da lista.

In [23]:
# list [1,2,2,3,1,4] para conjunto {1,2,3,4}
set([1,2,2,3,1,4])

{1, 2, 3, 4}

In [24]:
# conjunto {'a', 2, True} para lista ['a', 2, True]
list({ 'a', 2, True})

[True, 2, 'a']

In [25]:
# list ['a', 2, True] para tuple ('a', 2, True)
tuple(['a', 2, True])

('a', 2, True)

In [26]:
# tuple ('b', 3, False) para list ['b', 3, False]
list( ('b', 3, False) )

['b', 3, False]

In [30]:
# é possível converter também lista de listas em um dicionário
dict([ ['a', True], ['b', False] ])

{'a': True, 'b': False}

<h2 id='cap12'>12 - Built-in functions</h2>

Built-in functions são funções prontas na linguagem básica do Python. O nome de cada uma dessas funções é uma palavra reservada (keyword) e não pode ser usada como nome de outras variáveis. Nesse tutorial vimos a funções built-in type (para ver tipo de objetos), len (para ver o tamanho do objeto) e help (para obter informações sobre funções). Além desses exemplos, vimos no capítulo anterior as funções int, float, str, bool, list, set, dict e tuple. Veremos agora outros exemplos:

In [33]:
# para imprimir uma string
print('Star wars')

Star wars

Observe que a string é impressa sem aspas.

In [34]:
# para encontrar o máximo entre os objetos de uma lista
my_list = [5, 2, 3, 7, 1, -2]
max(my_list)

7

In [35]:
# para encontrar o mínimo entre os objetos de uma lista
min(my_list)

-2

In [36]:
# para encontrar a soma dos objetos de uma lista
sum(my_list)

16

In [37]:
# para ordenar os objetos de uma lista
sorted(my_list)

[-2, 1, 2, 3, 5, 7]

As built-in functions são feitas para serem mais gerais quanto possível, isto é, podem ser aplicadas em diferentes tipos de objetos. Vejamos alguns exemplos:

In [38]:
# ordenando os caracteres de uma string e criando uma lista
sorted('cdab')

['a', 'b', 'c', 'd']

In [40]:
# somando objetos de uma tupla
my_tuple = (1, 5, 3)
sum(my_tuple)

9

In [41]:
# encontrando a chave de valor máximo em um dicionário
my_dict = {'a': 51, 'b': 31, 'c': 20}
max(my_dict)

'c'