# Bibliotecas

In [3]:
import sqlite3
import pandas as pd

# CONNECTION

In [4]:
conn = sqlite3.connect("database.db")

# CREATE TABLE

In [5]:
conn.execute("""
    CREATE TABLE IF NOT EXISTS tasks
    (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        description TEXT,
        done INTEGER
    )    
""")
conn.commit()

# CREATE

In [4]:
conn.execute("""
    INSERT INTO tasks (description, done)
    VALUES ('Estudar seaborn', 0);    
""")
conn.commit()

In [5]:
conn.execute("""
    INSERT INTO tasks (description, done)
    VALUES ('Estudar python', 1);    
""")
conn.commit()

# READ

In [6]:
results = conn.execute("""
    SELECT *
    FROM tasks
""").fetchall()
for result in results:
    print(result)

(2, 'Estudar python', 1)
(3, 'Estudar seaborn', 0)
(4, 'Estudar python', 1)

In [7]:
results = conn.execute("""
    SELECT description
    FROM tasks
    WHERE done=0
""").fetchall()
for result in results:
    print(result)

('Estudar seaborn',)

# UPDATE

In [8]:
conn.execute("""
    UPDATE tasks
    SET done=1
    WHERE id=3
""")
conn.commit()

# DELETE

In [9]:
conn.execute("""
    DELETE FROM tasks
    WHERE id=1
""")
conn.commit()

# Pandas query

In [10]:
df = pd.read_sql_query(
    """
       SELECT *
       FROM tasks
    """,
    conn
)
df

   id      description  done
0   2   Estudar python     1
1   3  Estudar seaborn     1
2   4   Estudar python     1

# AGRUPAMENTO E AGREGAÇÃO

In [11]:
df['done'].value_counts()

1    3
Name: done, dtype: int64

In [12]:
results = conn.execute("""
    SELECT done, COUNT(*) AS done_tasks
    FROM tasks
    GROUP BY done;      
""").fetchall()

for result in results:
    print(result)

(1, 3)

# DELETE TABLE

In [13]:
conn.execute("DROP TABLE tasks")
conn.commit()

# RELACIONAMENTO

In [14]:
conn.execute("""
    CREATE TABLE categories 
    (
      id    INTEGER PRIMARY KEY, 
      name  TEXT NOT NULL
    );
""")

conn.execute(
    """
        INSERT INTO categories (name)
        VALUES
          ('casa'),
          ('laser'),
          ('faculdade')
    """
)
conn.commit()

In [15]:
conn.execute("""
    CREATE TABLE tasks 
    (
      id            INTEGER PRIMARY KEY AUTOINCREMENT, 
      description   TEXT NOT NULL,
      done          INTEGER,
      category_id   INTEGER NOT NULL,
      FOREIGN KEY (category_id) REFERENCES categories (id)
    )
""")
conn.commit()

# JOIN

In [16]:
# insert many
conn.execute(
    """
    INSERT INTO 'tasks' (description, done, category_id)
    VALUES
      ('Assistir Netflix', 1, 2),
      ('Estudar matplotlib', 0, 3),
      ('Estudar seaborn', 0, 3),
      ('Estudar Pandas', 0, 3),
      ('Lavar louça', 0, 1)
    """
)
conn.commit()

In [6]:
tasks_with_categories = conn.execute(
    """
    SELECT t.id, t.description, t.done, c.name 
    FROM tasks AS t 
    INNER JOIN categories AS c
      ON c.id = t.category_id
    ORDER BY c.name
    """
).fetchall()

for task in tasks_with_categories:
    print(task)

OperationalError: no such table: categories

# Close connection

In [18]:
conn.close()

# Exercícios

<img src="../assets/sqlite-sample-database-color.jpg">

Faça o download do bando SQLite3 no site: https://www.sqlitetutorial.net/sqlite-sample-database/

Usando os conhecimentos da aula, resolva os seguinte problemas:

1. Fornecer uma consulta que mostre os clientes (apenas seus nomes completos, ID do cliente e país) que não estão nos EUA.

In [ ]:
conn = sqlite3.connect("chinook.db")
df = pd.read_sql_query(
    """
        SELECT CustomerId, FirstName || ' ' || LastName AS FullName, Country
        FROM customers
        WHERE Country != 'USA'
    """,
    conn
)
conn.close()
df

2. Fornecer uma consulta que mostre apenas os clientes do Brasil.

In [115]:
# TODO

3. Fornecer uma consulta que mostre as faturas dos clientes que são do Brasil. A tabela resultante deve mostrar o nome completo do cliente, ID da fatura, data da fatura e país de cobrança.

In [116]:
# TODO

4. Fornecer uma consulta que mostre apenas os funcionários que são agentes de vendas.

In [117]:
# TODO

5. Fornecer uma consulta que mostre uma lista única de países de cobrança da tabela de faturas.

In [118]:
# TODO

6. Fornecer uma consulta que mostre as faturas associadas a cada agente de vendas. A tabela resultante deve incluir o nome completo do agente de vendas.

In [119]:
# TODO

7. Fornecer uma consulta que mostre o valor total da fatura, nome do cliente, país e nome do agente de vendas de todas as faturas e clientes.

In [120]:
# TODO

8. Quantas faturas houve em 2009 e 2011? Quais são as vendas totais respectivas para cada um desses anos?

In [121]:
# TODO

9. Analisando a tabela InvoiceLine, forneça uma consulta que CONTE o número de itens para o ID da fatura 37.

In [122]:
# TODO

10. Analisando a tabela invoice_items, forneça uma consulta que CONTE o número de itens para cada fatura. DICA: AGRUPAR POR

In [123]:
# TODO

11. Fornecer uma consulta que inclua o nome da faixa para cada linha da tabela de itens da fatura.

In [40]:
# TODO

12. Forneça uma consulta que mostre o nome da música e o artista para cada linha da tabela de itens da fatura.

In [39]:
# todo

13. Fornecer uma consulta que mostre o número de faturas por país. DICA: AGRUPAR POR

In [38]:
# TODO

14. Forneça uma consulta que mostra o número total de música por playlist. O nome das playlists devem aparecer na tabela resultante.

In [129]:
# TODO

15.Forneça uma consulta que mostra todos os nomes das músicas, mas não mostra ids. A tabela resultante deve incluir o nome do álbum, tipo de media e gênero.

In [37]:
# TODO

16. Forneça uma consulta que mostra todas as faturas por id e a contagem de itens por fatura.

In [ ]:
# TODO

17. Fornecer uma consulta que mostro o número total de vendas de cada vendedor.

In [126]:
# TODO

18. Qual vendedor (sales agent) mais vendeu em 2009?

In [ ]:
# TODO

19. Qual vendedor (sales agent) mais vendeu em 2010?

In [127]:
# TODO

20. Qual vendedor (sales agent) mais vendeu considerando toda base de dados?

In [128]:
# TODO

21. Forneça uma consulta que mostra o número de clientes inscritos para cada vendedor (sales agente).

In [41]:
# TODO

22. Forneça uma consulta que mostra o total de vendas por país.

In [43]:
# TODO

23. De qual país os clientes mais gastaram?

In [44]:
# TODO

24. Forneça uma consulta que mostra a faixa mais comprada de 2013.

In [ ]:
# TODO

25. Forneça uma consulta que mostra as top 5 faixas mais compradas de todos os tempos.

In [ ]:
# TODO

26. Forneça uma consulta que mostra os top 3 artistas mais vendidos de toda base de dados.

In [ ]:
# TODO

27. Forneça uma query que mostra qual o tipo de media mais comprado.

In [ ]:
# TODO

### Referência para os exercícios:

http://www.berkut.mk.ua/download/pdf/db/task_vesna.pdf